option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: config.settings.production
  - option_name: DEBUG
    value: False
  - option_name: DATABASE_USER
    value: postgres
  - option_name: DATABASE_PASSWORD
    value: DUMMY
  - option_name: DATABASE_NAME
    value: kakakaeng_db
  - option_name: DATABASE_HOST
    value: DUMMY
  - option_name: DATABASE_PORT
    value: 5432
  - option_name: SECRET_KEY
    value: DUMMY
  - option_name: X_API_KEY
    value: DUMMY
