option_settings:
    aws:elasticbeanstalk:command:
        DeploymentPolicy: RollingWithAdditionalBatch
        BatchSizeType: Fixed
        BatchSize: 1
    aws:elasticbeanstalk:healthreporting:system:
        SystemType: enhanced
    aws:elb:healthcheck:
        HealthyThreshold: 3
        Interval: 30
        Timeout: 5
        UnhealthyThreshold: 5
        Target: HTTP:80/ht/
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: config.settings.production
        DEBUG: False
        DATABASE_USER: postgres
        DATABASE_PASSWORD: DUMMY
        DATABASE_NAME: kakakaeng_db
        DATABASE_HOST: DUMMY
        DATABASE_PORT: 5432
        SECRET_KEY: DUMMY
        X_API_KEY: DUMMY
